html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    padding-top: 20px;
}

#doge-title {
    font-size: 2em;
    text-align: center;
}

#doge-image {
    padding-left: 30px;
}