html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    padding-top: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
}

#doge-title {
    font-size: 2em;
    text-align: center;
}

#doge-image {
    padding-left: 30px;
}

.doge-text {
    position: absolute;
    font-size: 3em;
}